.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center;
}
button{
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10%;
    border-style: ridge;
}
.red{
    background-color: brown;
    color: aliceblue;
}
.blue{
    background: rgb(0, 183, 255);
    color: aliceblue;
}
.orange{
    background-color: orangered;
    color: aliceblue;
}
.green{
    background-color: rgb(21, 97, 37);
    color: aliceblue;
}
.black{
    background-color: black;
    color: aliceblue;
}